.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.notifier {
  position: absolute;
  top: 24px;
  width: 600px;
  left: 29%;
  font-size: 14px;
  background-color: #df7b7b;
  color: #fff;
  border: 1px solid #ca5e5e;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  padding: 10px;

  .icon-notifier-close {
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;

    &:before {
      content: "x";
    }
  }
}


input[type=text],
input[type=email],
input[type=password],
textarea {
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background: #fff;
  padding: 4px 8px;
  vertical-align: middle;
  color: #515357;
  font-size: 16px;

  &:focus {
    outline: none;
    //border-color: #00a1dc;
    border-color: #000;
  }
}

input[type=text],
input[type=email],
input[type=password] {
  height: 36px;
  width: 320px;
}

textarea {
  width: 320px;
}

form {
  .field {
    padding: 4px 0;

    label {
      font-size: 12px;
      font-weight: 600;
      color: #2c3f50;
      display: block;
      padding: 8px 0;
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.button {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 44px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 16px;
  cursor: pointer;
  box-sizing: border-box;

  &.black {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
  }
}

.contact-us-banner a.contact-us {
  float: right;
  text-decoration: none;
}
