* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #939393;
  font-size: 12px;
  font-weight: 200;
  color: #939393;
  line-height: 1.65em;
  height:100%;
  background:#fff;
  margin:0;
  padding:0;
}

h1 {
  font-size: 64px;
  line-height: 64px;
  font-weight: 200;
}

h2 {
  font-size: 40px;
  color: #fff;
  line-height: 60px;
  font-weight: 200;

  &.main {
    width: 40%;
  }
}

h5 {
  color: #818181;
  font-size: 16px;
  font-weight: 200;
}

p {
  font-size: 18px;
  line-height: 1.65em;
  text-align: justify;
}

.white {
  color: #fff;
}

.centered {
  text-align: center;
}

.logo {
  position: absolute;
  top: 32px;
  font-size: 52px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  img {
    width: 54px;
    height: auto;
  }
}

.container,
.narrow-container {
  position: relative;
  margin: 0 auto;
}

.container {
  width: 72%;
}

.narrow-container {
  min-width: 600px;
  max-width: 800px;
}

nav {
  opacity: 1;
  position: fixed;
  width: 100%;
  padding: 10px 30px;
  background: transparent;
  z-index: 10;
  transition: background .3s;
  white-space: nowrap;
  transition-duration: .3s,.6s;
  transition-property: background,opacity;

  ul {
    display: block;
    list-style-type: none;
  }
}

nav.main {
  display: inline-block;

  ul {
    line-height: 64px;
    margin: 0 44px 0 0;
    float: right;

    li {
      display: inline-block;
      margin: 0 20px;

      a {
        text-decoration: none;
        font-size: 16px;
        color: #fff;
        transition: color .3s;
        font-weight: 400;

        &:hover {
          color: #ccc;
        }
      }
    }
  }
}

nav.right {
  display: inline-block;
  float: right;

  .btn {
    background: none;
    border-color: #fff;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    font-size: 18px;
  }
}

nav.scrolled {
  background: #f7f7f7;
  ul.main li a {
    color: #818181;
  }
  a.logo {
    color: #818181;
  }
}

section {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.section-break {
  padding: 0;
  height: 76px;
  //background: #3bb2d0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 729px;
  width: 100%;

  .contact-us-banner {
    color: #fff;
    width: 72%;
    min-width: 1000px;
    margin: 20px auto;

    span {
      font-size: 28px;
      display: inline-block;
      padding: 6px 20px;
    }

    button {
      float: right;
    }
  }
}

section.main {
  background-image: url("splash.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 804px;
  padding-top: 210px;

  &:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }

  h1 {
    margin-bottom: 26px;
    text-transform: capitalize;
  }

  .sub-header {
    font-size: 20px;
  }
}

.feature-overview {
  margin-top: 50px;
  background: #f7f7f7;

  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
  }

  .feature {
    float: left;
    border-right: 2px solid #ebebeb;
    min-height: 200px;
    width: 20%;
    padding: 30px;

    img {
      width: 40%;
      height: autho;
    }
  }
}

section {
  padding: 40px 20px;
}

section.our-team {
  background: #f7f7f7;

  p.justify {
    text-align: justify;
  }

  .people-involved {
    .advised-by {
      display: inline-block;
      padding: 8px 24px;
      max-width: 329px;

      img {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);

        &.profile {
          border-radius: 100%;
        }
      }
      p.profile {
      //  width: 400px;
      }

      .links {
        a {
          padding: 0 10px;
        }
      }

      &:hover {
        img {
          -webkit-filter: grayscale(0%);
          -moz-filter: grayscale(0%);
          filter: grayscale(0%);
        }
      }
    }
  }
}

footer {
  height: 40px;
  background: #2c3f50;
}

.service {
  display: table;
  margin: 16px 0;

  span {
    display: inline-block;

    &.text {
      width: 70%;

      p {
        margin: 6px 24px;
        line-height: 22px;
      }
    }
  }

  .image {
    width: 130px;
    height: 130px;
    background-repeat: no-repeat;

    &.web {
      background-image: url("web.png");
    }

    &.analytics {
      background-image: url("analytics.png");
    }

    &.dashboard {
      background-image: url("dashboard.png");
    }

    &.infographic {
      background-image: url("infographic.png");
    }

    &.cloud {
      background-image: url("cloud.png");
    }
  }
}

.contact-us {
  .container {
    width: 60%;
    display: table;
    margin: 0 auto;
    text-align: center;

    .form-container,
    .map-container {
      display: inline-block;
      max-width: 400px;
      min-width: 360px;
      padding: 8px 40px;
    }

    .form-container {
      label,
      input {
        text-align: left;
      }

      .actions {
        position: relative;
        left: 0px;
      }
    }

    .map-container {
      .locations {
        display: block;
        width: 130px;
        height: 130px;
        background-image: url("locations.png");
      }
    }
  }
}

.actions {
  padding: 16px 0;
}

.bold {
  font-weight: 400;
}
