@media only screen and (max-width: 640px) {
  h1 {
    font-size: 36px;
  }

  nav.main {
    height: 60px;
    background: #f7f7f7;

    a.logo {
      color: #818181;
      font-size: 36px;
      top: 20px;
      left: 16px;
    }

    ul {
      display: none;
      height: auto;
    }

    a#pull {
      display: block;
      background-color: #283744;
      width: 100%;
      position: relative;
      left: 26px;
      top: 3px;

      &:after {
        content:"";
        background: url('nav-icon.png') no-repeat;
        opacity: 0.5;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
      }
    }
  }

  section.section-break {
    display: none;
  }

  section.our-tradecraft {
    padding: 0px;

    .narrow-container {
      width: 90%;
      min-width: 0px;
    }

    .service {
      .text {
        width: 100%;
      }
      .image {
        width: 0px;
        height: auto;
      }
    }
  }

  section.our-team {
    padding: 0px;
    .people-involved {
      .advised-by {
        padding: 10px 0;
        img.profile {
          width: 64%;
        }
      }
    }
  }

  section.contact-us {
    padding: 0;
    .container {
      width: 76%;
      text-align: left;

      .form-container,
      .map-container {
        max-width: 100%;
        min-width: 100%;
        padding: 0;
      }
    }

    form {
      input,
      textarea {
        width: 100%;
      }
    }
  }
}
